/* ******************
 * LISTE DES RESTOS *
 * ******************/

#body1{    
    background-color:#eee;
}
#body2{    
    background-color:white;
}

#content2 h1{
    margin:0;
    font-size:20px;
    border-bottom:2px solid #ccc;
}

#content2 ul#liste_resto{
    width:840px;
    margin:30px;
}

#content2 ul#liste_resto li{
    width:150px;
    float:left;
    margin:15px 25px;
}

#content2 ul#liste_resto li.clearer{
    width:1px;
    height:1px;
    float:none;
    margin:0;
}

#content2 ul#liste_resto li a img{
    height:150px;
    width:150px;
    padding:4px;
    border:1px solid #ccc;
    background-color:#eee;
}

#content2 ul#liste_resto li a:hover img{
    border-color:black;
}