img.logo_resto{
    height:150px;
    width:150px;
    padding:4px;
    border:1px solid #ccc;
    background-color:#eee;
}

div#commande{
    float:right;
    background-color:white;
    border:2px solid #ccc;
    
    height:300px;
    width:250px;
}

div#commande h1{
    border-bottom:2px solid #bd060d;
    font-size:16px;
    width:90%;
    margin-left:5%;
}